debian/cassandra-medusa/
packages/
.direnv/
.venv/
.git/
tests/
!tests/e2e/
docs/
dist/
venv/
.tox/
.pytest_cache/
gcs-medusa-credentials.json
gcs-k8ssanra-medusa-credentials.json
medusa_rad_credentials.json
medusa-aws-tests.ini
medusa-dogfood.ini
medusa-grpc-test.ini
medusa-local-test.ini
medusa-rad-tests.ini
medusa-s3-tests.ini
medusa-s3acc-tests.ini
