python-dateutil<2.8.2,>=2.1
Click>=8.0.1
click-aliases==1.0.1
PyYAML>=5.1
cassandra-driver>=3.27.0
psutil>=5.4.7
ffwd>=0.0.2
lockfile>=0.12.2
pyOpenSSL==22.0.0
cryptography<=35.0,>=2.5
pycryptodome>=3.9.9
retrying>=1.3.3
ssh2-python==1.0.0
ssh-python>=0.8.0
parallel-ssh==2.2.0
requests>=2.22.0
wheel>=0.32.0
gevent
greenlet
fasteners==0.16
datadog
botocore>=1.13.27
boto3>=1.28.38
dnspython>=2.2.1
asyncio==3.4.3
aiohttp==3.8.5
gcloud-aio-storage==8.3.0
azure-core==1.29.4
azure-identity==1.14.0
azure-storage-blob==12.17.0