python-dateutil<2.8.1,>=2.1
Click>=8.0.1
click-aliases>=1.0.1
PyYAML>=5.1
cassandra-driver>=3.25.0
psutil>=5.4.7
ffwd>=0.0.2
apache-libcloud<3.4.0,>=3.3.0
lockfile>=0.12.2
cryptography<=3.3.2,>=2.5
pycryptodome>=3.9.9
retrying>=1.3.3
ssh2-python==0.22.0
ssh-python>=0.6.0
parallel-ssh==2.2.0
requests==2.22.0
wheel>=0.32.0
gevent
greenlet
fasteners==0.16
