Source: cassandra-medusa
Section: python
Priority: extra
Maintainer: The Last Pickle <oss@thelastpickle.com>
Build-Depends:
  debhelper (>= 11),
  dh-python,
  python3-all,
  python3-all-dev,
  python3-setuptools,
  dh-virtualenv (>= 1.0),
  build-essential
Standards-Version: 3.9.5

Package: cassandra-medusa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Backup tool for Cassandra databases
 Make immutable backups for Cassandra databases and extract them to an external storage.
